@media(max-width:991px){
    .logo{
       display: flex;
       justify-content: center;
    }
    .menu{
        display: flex;
        justify-content: center;
    }
}
@media(max-width:500px){
    .slider_con h1{
        text-align: center;
        font-size: 60px;
        color: #fff;
        font-family: lato ;
    }
}
@media(max-width:1200px){
    .port_img{
        margin-right: 20px;
    }
}
@media(max-width:991px){
    input{
        width: 100%;
    }
    .checkbox{
        width: 100%;
    }
    .send{
        width: 100%;
    }
}